@import "src/app/style/index";

.box{
  width: 100%;
}

.content{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.part1{
  @include vertical-position-el;
}

.part2{
  @include vertical-position-el;
  width:60%;
  height: 60vh;
  justify-content: space-between;
}

.imgBox{
  width: 350px;
  height: 450px;
  margin-bottom: 20px;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
span{
  line-height: 30px;
}